name: On Pull Request

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    name: Build
    uses: ./.github/workflows/build.yml

  test:
    name: Test
    uses: ./.github/workflows/test.yml

  lint:
    name: Lint
    uses: ./.github/workflows/lint.yml
